ul {
    list-style: none;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

main {
    background-color: #fff;
}

.mobile-navbar {
    display: flex;
}

.desktop-navbar,
.rewards-heading>span,
.gift-cards {
    display: none;
}

.star-mobile {
    display: block;
}

#mobile-logo {
    display: inline-block;
    width: 40px;
    height: 40px;
}

nav ul li a {
    text-decoration: none;
}

.nav-box-shadow {
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
}

header {
    background: #fff;
}

#mobile-nav {
    justify-content: space-between;
    padding: 20px 25px;
    align-items: center;
}

#mobile-nav i {
    color: rgba(0, 0, 0, .58);
    font-size: 1.3em;
}

.card-top {
    width: 100%;
    height: 100%;
    margin-bottom: -5px;
}

.card-top img {
    width: 100%;
}

.bg-pink {
    background-color: #f7cdd0;
}

.card {
    text-align: center;
    color: #000;
    margin: 30px 0;
}

.card h3 {
    line-height: 1.4;
    color: #fff;
    font-size: 1.5em;
    padding: 10px 0;
    font-weight: 600;
}

.black {
    color: #000 !important;
}

.card-bottom {
    padding: 20px 0;
}

.card-bottom p {
    color: #fff;
    font-size: 1em;
    padding: 20px 0;
    width: 90%;
    margin: auto;
}

.bg-white {
    background: #fff !important;
    color: #000 !important;
    margin: 15px 0;
}

.btn {
    cursor: pointer;
    padding: 6px 15px;
    border: 0;
    border-radius: 20px !important;
    background: transparent;
    color: #fff;
    font-weight: 700;
}

.sign {
    border: 1px solid #000 !important;
    color: #000;
    cursor: pointer;
    transition: .2s;
}

.bg-black {
    background-color: #000 !important;
    color: #fff !important;
}

.bg-blue {
    background-color: #0021db;
}

.big-h3 {
    font-size: 2em !important;
}

.big-p {
    font-size: 1.5em !important;
}

.container button {
    border: 1px solid #fff;
    font-size: .9em;
}

.bg-green {
    background-color: #016343;
}

.bg-green-light {
    background-color: #008248;
}

.main-end p {
    text-align: center;
    margin: 7vh auto;
    font-size: .8em;
    line-height: 1.8;
}

.main-end p a {
    color: #000;
}

.main-end a {
    text-decoration: underline;
}

.accordion {
    background-color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.panel ul li a {
    font-size: .9em;
    color: #00000094;
}

.panel ul li {
    margin: 20px 0;
}

#mobile-footer {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

footer .icons {
    display: flex;
    padding: 5px 10px;
}

footer .icon {
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.footer-end ul {
    padding: 10px 15px;
}

.footer-end ul li {
    margin: 20px 0;
}

.footer-end ul li a {
    text-decoration: none;
    color: #000;
    font-size: .9em;
}

.list ul li a {
    text-decoration: none;
}

.list p {
    color: #00000094;
    padding: 5px 15px;
    font-size: .9em;
}

#hidden-menu {
    transform: translateX(100%);
    transition: transform 0.3s ease;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
}

#hidden-menu-list ul li a {
    font-size: 1.3em;
    color: #000;
}

#hidden-menu-list ul li {
    margin: 25px
}

hr {
    width: 90%;
    height: 1px;
    background-color: #f6f5f5;
}

.hideContent {
    display: none;
}

#hidden-menu-btns,
#hidden-menu-span {
    padding: 20px 30px;
}

#hidden-menu.openMenu {
    transform: translateX(0);
}

.main-nav ul {
    display: flex;
    gap: 10px;
    padding: 15px;
}

.main-nav ul li a {
    color: #000;
    font-size: .85em;
}

.main-nav {
    padding: 5px 0;
    border-bottom: 1px solid #dbd9d7;
    background: #f9f9f9;
}

.main-nav ul li:first-child {
    border-bottom: 1px solid #000;
}

.main-nav ul li {
    padding: 5px 0;
}

.drink-img {
    max-width: 70px;
}

.drink-img img {
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.drink {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
    color: #000;
}

.drinks {
    padding: 15px;
}

.border {
    border-top: 1px solid #e8e7e7;
    padding-top: 20px;
}

.menu-main h2 {
    padding: 15px;
}

.drinks h3 {
    padding-bottom: 20px;
    font-size: 1.2em;
}

.menu-left-side {
    display: none;
}

.fixed-sec {
    background-color: #1E3932FF;
    padding: 25px 0;
    position: fixed;
    bottom: -3px;
    left: 0;
    width: 100%;
}

.fixed-sec .container {
    display: flex;
    justify-content: space-around;
}

.fixed-sec svg {
    width: 30px;
    height: 30px;
    color: #fff;
}

.fixed-sec a {
    color: #fff;
    display: inline-block;
    font-size: .9em;
    padding: 5px;
    border-bottom: .1px solid #8f8e8e;
    border-right: .2px solid #585858;
}

.fixed-sec i {
    margin-left: 15px;
    font-size: .8em;
}

.rewards-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../img/hero-mobile_2021.webp') top/contain no-repeat;
    height: 70vh;
}

.rewards-heading h3 {
    line-height: 1.29;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 30px;
}

.rewards-heading h6 {
    font-weight: 400;
    font-size: 1em;
    padding: 15px 0;
}

.like-btn {
    background: #00754AFF;
    color: #fff !important;
    padding: 7px 13px;
    border-radius: 30px;
    margin: 10px 0;
    text-decoration: none !important;
}

.rewards-heading a {
    text-decoration: underline;
    color: #000;
    margin: 10px 0;

}

.green-sec {
    position: sticky;
    top: 0;
    background: #1e3932;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;
    display: flex;
    box-shadow: 0 4px 4px 0 #0000001f, 0 0 2px 0 #0000003d;
}

.green-sec h2 {
    color: #fff;
    font-size: .9em;
    text-transform: uppercase;
}

.green-sec button {
    padding: 7px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 30px;
    font-weight: 700;
}

.getting-started h4 {
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.5em;
}

.getting-started p {
    text-align: center;
    font-size: .9em;
}

.numbers {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.numbers span {
    border: 1px solid #00754AFF;
    color: #00754AFF;
    padding: 15px 25px;
    border-radius: 50%;
    font-size: 1.5em;
    font-weight: 600;
}

.number-texts {
    padding-top: 20px;
}

.number-texts p {
    text-align: start;
    padding: 5px 10px;
    font-size: .9em;
}

.number-texts a {
    color: #016343;
    text-decoration: underline;
}

.number-texts h6 {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px;
}

.favorites-bottom {
    background: #d4e9e2;
}

.favorites-img img {
    width: 100%;
    object-fit: cover;
}

.favorites-texts {
    margin: 20px auto;
    text-align: center;
    padding: 20px 0;
}

.favorites-texts h5 {
    font-size: 1.2em;
    padding: 15px 0;
}

.favorites-texts p {
    font-size: .9em;
    padding: 5px 0;
}

.favorites-head h4 {
    font-size: 1.4em;
    text-align: center;
    padding-top: 40px;
}

.favorites-head {
    background: #F1F8F5FF;
    margin-top: 60px;
}

.favorites-numbers {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.favorites-numbers p {
    font-size: 1.2em;
    font-weight: 600;
}

.favorites-numbers span {
    color: #cba258;
}

.endless-extras {
    margin-top: 50px
}

.endless-extras p {
    padding: 20px;
}

.endless-img {
    width: 300px;
}

.endless-img img {
    width: 100%
}

.endless-extras h6,
.endless-extras a {
    padding: 0 20px;
}

.endless-extras a {
    font-size: .9em;
}

.cash {
    background: #f2f0eb;
}

.cash>h4 {
    text-align: center;
    font-size: 1.5em;
}

.cash>p {
    text-align: center;
    font-size: 1em;
    width: 80%;
    margin: auto;
}

.pay {
    padding: 30px 0;
}

.cash h4 {
    padding: 30px 0;
}

.cash p {
    padding-bottom: 30px;
}

.pay-img img {
    width: 100%;
}

.pay-img {
    width: 45%;
}

.pay-img2 img {
    width: 32vw;
}

.pay-p {
    text-align: start !important;
    padding: 10px 0;
}

.pay-item {
    padding: 25px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pay-item p {
    text-align: start;
    padding: 20px 5px;
}

.pay-texts h6 {
    font-size: 1em;
    padding: 0 5px;
}

.pay>h5,
.pay>p {
    padding: 5px 15px;
    font-size: 1.2em;
}

.pay p {
    padding-bottom: 35px;
}

.pay-img3 {
    width: 100vw;
}

.pay-img3 img {
    width: 100%;
}

.pay-img4 {
    width: 80%;
}

.pay-img4 img {
    width: 100%;
}

.pay:first-child {
    border-bottom: 1px solid #ccc;
}

.rewards-inner {
    background: #d4e9e2;
}

#star1 {
    background: url('../img/c7d010ad5c5f6c00d544.svg') 0% 50%/contain no-repeat;
    height: 7vh;
}

#star2 {
    background: url('../img/c87d1677e476d2d20e5f.svg') 100% 50%/contain no-repeat;
    height: 7vh;
}

.coming-img1 img {
    width: 85%;
}

.coming-img2 img {
    width: 85%;
}

.coming-center p {
    font-size: .9em;
}

.green-a {
    color: #00754a;
    font-size: .9rem;
}

.center-coming-box p {
    font-size: .9rem;
}

.center-coming-box {
    display: flex;
}

.questions h6 {
    font-size: 1.7em;
}

.questions p {
    font-size: .9rem;
}

.texts {
    background: #f9f9f9;
}

.texts p {
    font-size: .8em;
}

.texts h6 {
    color: #00000094;
}


.swiper-button-next,
.swiper-button-prev {
    background-color: #fff;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
    color: #525151 !important;
    box-shadow: 0 0 20px #ccc;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 1.1em !important;
    font-weight: bold !important;
}

.swiper-slide,
.gift-card {
    margin: 0 10px;
    width: 200px !important;
    height: 120px !important;
}

.swiper-slide img,
.gift-card img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.heading h5,
.heading p {
    font-size: 1em;
}

.gray-sec {
    background: #edebe9;
    gap: 20px;
}

.gray-img {
    width: 80px;
}

.menu-item span {
    color: #4b4b4b;
    font-size: .9em;
}

.gray-img img {
    width: 100%;
}

#calc-sec {
    background-color: #1f3933;
}

#category-span {
    padding: 30px 0;
    display: inline-block;
}

.basket-img {
    height: 25vh;
}

.calc-sec-inner h3 {
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 1.5em;
}
.calc-sec-inner p{
    color: #ccc;
    font-size: 1em;
    text-align: center;
    padding-bottom: 20px;
}

.sec-green {
    background-color: #d4e9e2;
}

.sec-green span {
    color: #00000094;
}
.size-img{
    display: flex;
    gap: 20px;
    padding: 30px;
    margin-left: 30px;
}
.size-options h4, .include h4{
    font-size: 1.2em;
    padding-left: 30px;
    margin-left: 30px;
}

.include select{
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 5px;
}

/* F O R     D E S K  T O P */

@media only screen and (min-width: 768px) {
    .desktop-navbar {
        display: flex;
    }

    .mobile-navbar,
    .d-none,
    .star-mobile {
        display: none !important;
    }

    .rewards-heading>span,
    .gift-cards {
        display: initial;
    }

    .container {
        width: 90%;
        margin: auto;
    }

    .d-flex,
    .sec-green,
    .gift-cards-wrapper {
        display: flex;
        align-items: center;
    }

    .gift-cards-wrapper {
        justify-content: flex-start;
    }

    #desktop-logo {
        width: 58px;
        height: 51px;
        display: inline-block;
        margin-right: 30px;
    }

    #desktop-nav {
        padding: 20px 0;
        justify-content: space-between;
    }

    #desktop-nav ul {
        gap: 20px;
    }

    #desktop-nav ul li a {
        font-weight: 800;
        color: #000;
        font-size: .85em;
        text-transform: uppercase;
        letter-spacing: .09em;
        transition: .2s;
    }

    .btn:hover {
        background: #00000052;
    }

    #desktop-nav ul li a:hover,
    #desktop-nav span:hover,
    #desktop-nav i:hover {
        color: #016343;
    }

    .desktop-nav-right {
        gap: 20px;
    }

    .sign:hover {
        background: #f3f2f2;
    }

    .desktop-nav-right span {
        font-size: .9em;
        font-weight: bold;
        margin-right: 30px;
        margin-left: 10px;
        transition: .2s;
    }

    .desktop-nav-right i {
        font-size: 1.2em;
    }

    #desktop-footer {
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        padding: 20px;
    }

    .desktop-lists {
        display: flex;
        gap: 20px;
        text-align: left;
    }

    .desktop-lists ul li a {
        color: #00000094;
        font-size: 1.05em;
    }

    .desktop-lists ul li {
        margin: 35px 0;
    }

    .desktop-lists h4 {
        font-size: 1.2em;
        font-weight: 500;
    }

    #mobile-footer {
        display: none;
    }

    .list ul li a {
        font-size: 1.1em;
        transition: .2s;
    }

    .list p {
        padding-bottom: 20px;
    }

    .desktop-lists ul li a:hover {
        color: #000;
    }

    .list ul li a:hover {
        text-decoration: underline;
    }

    .icon:hover {
        background-color: #f1eeee;
        border-radius: 50%;
        padding: 10px;
    }

    .menu-main {
        display: flex;
        width: 80%;
    }

    .main-nav ul {
        width: 80%;
        padding: 5px 0;
    }

    .menu-item h2 {
        font-size: 1.9em;
        padding: 30px 10px;
    }

    .main-end {
        width: 70%;
        margin: auto;
    }

    .main-end p {
        font-size: 1em;
    }

    .menu-left-side {
        display: initial;
        padding: 20px 0;
    }

    .menu-left-side h3 {
        padding-top: 30px;
        margin-bottom: 10px;
        font-size: 1.2em;
    }

    .menu-left-side ul li a {
        color: #00000094;
        display: inline-block;
        margin: 15px 0;
    }

    .menu-left-side ul {
        padding: 0;
    }

    .menu-item {
        padding: 20px 0;
    }

    .drinks h3 {
        font-size: 1.4em;
    }

    .drink-img {
        max-width: 112px;
    }

    .border {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .drink {
        width: 30vw;
    }

    .drink p {
        font-size: 1.2em;
    }

    .fixed-sec {
        padding: 30px 0;
    }

    .fixed-sec a {
        border-right: 0;
        padding: 20px 0;
    }

    .fixed-sec svg {
        width: 50px;
        height: 50px;
    }

    .rewards-heading {
        background: #C5D9D2FF url('../img/xl-hero-desktop_2021.webp') center/cover no-repeat;
        height: 100vh;
    }

    .green-sec {
        justify-content: space-between;
        padding: 15px 30px;
    }

    .green-sec h2 {
        padding: 0 70px;
    }

    .green-sec button {
        display: none;
    }

    .rewards-heading {
        align-items: flex-start;
        justify-content: center;
        padding: 0 6vw;
    }

    .rewards-heading h3 {
        font-size: 1.8em;
        font-weight: 700;
    }

    .rewards-heading h6 {
        font-size: 1.2em;
    }

    .like-btn {
        padding: 10px 15px;
        margin: 20px 0;
    }

    .d-inline {
        display: inline;
        font-size: 1.2rem;
    }

    .rewards-heading span {
        font-size: 1.2rem;
    }

    .getting-started {
        padding: 17vh 0;
    }

    .getting-started h4 {
        font-size: 1.8em;
    }

    .getting-started p {
        font-size: 1em;
    }

    .number {
        display: flex;
        justify-content: center;
    }

    .numbers {
        width: 30%;
        display: initial;
    }

    .numbers {
        padding: 30px 0;
        text-align: center;
    }

    .numbers span {
        display: inline-block;
    }

    .number-texts p {
        padding: 10px 0;
        text-align: center;
    }

    .favorites-bottom {
        display: flex;
        justify-content: center;
    }

    .favorites-numbers {
        justify-content: center;
        gap: 30px;
    }

    .favorites-texts {
        width: 30%;
        margin: 40px 0;
        text-align: start;
        align-items: center;
    }

    .favorites-texts h5 {
        font-size: 1.7em;
    }

    .favorites-texts p {
        font-size: 1.1em;
    }

    .favorites-img {
        width: 30%;
    }

    .endless-extras {
        gap: 20px;
    }

    .endless-img {
        width: 25%;
        margin: auto;
    }

    .endless-extras>p {
        width: 45%;
        margin: auto;
    }

    .endless-extras .numbers p {
        width: 80%;
        margin: auto;
    }

    .pay-img {
        width: 20%;
    }

    .pay-img2 {
        width: 20%;
    }

    .pay-img2 img {
        width: 100%;
    }

    .pay-img3 {
        width: 25%;
    }

    .pay-img4 {
        width: 25%;
    }

    .pay {
        display: flex;
        justify-content: space-between !important;
        padding: 30px;
    }

    .pay-item {
        width: 40vw;
    }

    .pay-texts {
        width: 40%;
    }

    .pay>div>p {
        font-size: 1.1em;
    }

    .pay>div>h5 {
        font-size: 1.2em;
    }

    .pay-texts h6 {
        font-size: 1.2em;
    }

    .pay-texts p {
        font-size: 1em;
    }

    .rewards-coming {
        background: url('../img/844262945b2a8b8cfb29.webp') center/cover no-repeat;
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rewards-inner {
        height: 77vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95vw;
    }

    .coming-center-boxes {
        display: flex;
    }

    .center-coming-box {
        display: block;
        text-align: center;
    }

    .coming-img1 img {
        width: 60%;
    }

    .coming-img2 img {
        width: 60%;
    }

    .coming-img1,
    .coming-img2 {
        margin: 30px 0;
    }

    .coming-center p,
    .coming-center i,
    .coming-center a {
        font-size: 1em;
    }

    .coming-center h3 {
        font-size: 2em;
    }

    #star1 {
        background: url('../img/7997fb008f368630d3ca.svg') center/cover no-repeat;
        height: 50vh;
        width: 45vw;
    }

    #star2 {
        background: url('../img/b7e1b20df72e802cb1cf.svg') center/cover no-repeat;
        height: 53vh;
        width: 50vw;
    }

    .rewards-end-text {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .texts p,
    .text i,
    .text a {
        font-size: 1em !important;
    }

    .rewards-end-text div {
        width: 45vw;
    }

    .texts>div {
        width: 90vw;
        margin: auto;
    }

    .questions {
        margin: 10vh auto;
        width: 60%;
    }

    .questions p {
        font-size: 1.3em;
    }

    .questions h6 {
        font-size: 2em;
    }

    .swiper-slide,
    .gift-card {
        width: 23vw !important;
        height: 27vh !important;
        padding: 0 10px;
        z-index: 999999;
        overflow: hidden;
    }

    .gift-cards {
        gap: 30px;
    }

    .featured {
        height: 35vh;
        margin: 20px;
    }

    .birthday {
        height: 40vh;
    }

    .heading {
        width: 90%;
        margin: auto;
    }

    .sec-green {
        gap: 35px;
        justify-content: center;
    }

    .sec-green .btns button {
        margin: 0 10px;
        padding: 10px;
    }

    .sec-green span {
        font-size: 1.3em;
    }

    .swiper-slide,
    .gift-card {
        transition: .5s;
    }

    .swiper-slide:hover,
    .gift-card:hover {
        transform: translateY(-5%);
    }
    .calc-sec-inner{
        display: flex;
        justify-content: space-around;
        padding: 30px 0;
    }
    .basket-img{
        width: 30vw;
    }
    .calc-end{
        display: flex;
        justify-content: space-around;
    }
    .include select{
        width: 20vw;
        padding: 10px;
        font-size: 1.1em;
    }
    .size h6, .size p{
        font-size: 1.1em;
    }

}

/*F O R   T A B L E T*/
@media only screen and (min-width: 992px) {
    .card {
        align-content: stretch;
        display: flex;
    }

    .order-1 {
        order: 1;
    }

    .card-top {
        width: 50%;
    }

    .card-bottom {
        width: 50%;
    }

    .card-top img {
        width: 100%;
    }

    .card-bottom h3 {
        margin-top: 15%;
    }

    .card h3 {
        font-size: 1.5em;
        max-width: 90%;
        margin: auto;
    }

    .card p {
        font-size: 1.18em;
        line-height: 1.75;
        width: 80%;
    }

    .card-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .big-h3 {
        font-size: 3.1em !important;
    }

    .big-p {
        font-size: 1.5em !important;
    }

}